html,
body {
    margin: 0;
}

body {
    font-size: 18px;
}

.wrapper {
    padding: 1rem;
}
.wrapper__inside {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 70ch;
}
.number {
    font-variant-numeric: lining-nums tabular-nums;
    text-align: right;
}

.list--no-style {
    padding-left: 0;
    list-style-type: none;
}

.stack > * + * {
    margin-top: 2rem;
    margin-top: var(--gap, 2rem);
}

.stack--gap-1 > * {
    --gap: 1rem;
}
.stack--gap-0-5 > * {
    --gap: 0.5rem;
}

.cluster > * {
    display: inline-block;
}

.budget-item__header {
    background-color: var(--color-bg, #333);
    color: var(--color-fg, white);
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.budget-item__price {
	flex: auto 2;
	text-align: right;
	padding-right: 1em;
}

.line-item--deposit {
  color: #02621c;
}

.budget-item .budget-item__focus-reveal,
.line-item .line-item__focus-reveal {
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}

.budget-item:hover .budget-item__focus-reveal,
.budget-item:focus .budget-item__focus-reveal,
.budget-item:focus-within .budget-item__focus-reveal,
.line-item:hover .line-item__focus-reveal,
.line-item:focus .line-item__focus-reveal,
.line-item:focus-within .line-item__focus-reveal {
  opacity: 1;
}
